* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-wrap {
  display: inline-block;
  overflow: hidden;
}

.logo-first {
  background: blue;
  display: flex;
  justify-content: center;
  width: 144px;
  transition: width 0.5s;
}

.logo-first:hover {
  width: 300px;
}

.logo-wrap-second {
  position: relative;
  width: 200px; /* Ширина обертки */
  height: 200px; /* Высота обертки */
  overflow: hidden;
}

.logo-second {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; /* Ширина логотипа */
  height: 100px; /* Высота логотипа */
  background-color: blue; /* Исходный цвет фона */
  animation: moveLogo 4s infinite;
}

@keyframes moveLogo {
  0% {
    left: 0;
    top: 0;
    background-color: blue;
  }
  25% {
    left: 50px;
    top: 100px;
    background-color: green;
  }
  50% {
    left: 100px;
    top: 0;
    background-color: yellow;
  }
  75% {
    left: 50px;
    top: 100px;
    background-color: orange;
  }
  100% {
    left: 0;
    top: 0;
    background-color: aqua;
  }
}

.tooltip-container {
  position: relative;
  margin-top: 50px;
}

.tooltip-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  text-align: center;
  bottom: 20px;
}

.tooltip-container:hover .tooltip-content {
  display: block;
}

.tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.mask-container {
  background-image: url(../img/bg.jpg);
}

.masked-text {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
  font-size: 75px;
}
